APP_DEBUG = trueDEFAULT_LANG = zh-cnHOST =[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]DRIVER = mysqlTYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8DEBUG = true[REDIS]HOSTNAME = 127.0.0.1PORT = 6379PASSWORD =SELECT = 0PREFIX =[QUEUE]LISTEN_NAME =BATCH_LISTEN_NAME =